<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-brand">CRUD Nicola</div>
        <ul>
            <li>
                <a href="~/persons/index">Persons</a>
                <a href="~/persons/create">Create new person</a>
            </li>
        </ul>
    </div>
    
    <div class="page-content">
        @RenderBody()
    </div>
</div>

@RenderSection("scripts", required: false)
</body>
</html>
